<kendo-grid [data]="books.books"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)"
            (add)="addHandler($event)"
            [navigable]="true">
  <div *ngIf="admin">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
    </ng-template>
  </div>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="author.name" title="Author">
    <ng-template kendoGridEditTemplate let-dataItem="dataItem" >
      <kendo-dropdownlist
        name="dataItem.author"
        [data]="authors.authors"
                         textField="name"
                          valueField="id"
                          [(ngModel)]="dataItem.author"
                          (valueChange)="authorChange($event)">
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="yearOfPublication" title="Year Of Publication"></kendo-grid-column>
  <kendo-grid-column field="publicationHouses" title="Publication Houses">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">

      <span *ngFor="let publicationHouse of dataItem.publicationHouses">{{publicationHouse.name}}, </span>

    </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
      <kendo-multiselect
        name="dataItem.publicationHouses"
        [data]="publicationHouses.publicationHouses"
        textField="name"
        valueField="id"
        [(ngModel)]="dataItem.publicationHouses"
        (valueChange)="publicationHousesChange($event)">
      </kendo-multiselect>
    </ng-template>
  </kendo-grid-column>
  <div *ngIf="admin">
    <kendo-grid-command-column title="command" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true">Edit</button>
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </div>
</kendo-grid>
