<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]="['/home']">Library.WEB</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/book']">
            <span class='glyphicon glyphicon-education'></span> Books
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/magazine']">
            <span class='glyphicon glyphicon-education'></span> Magazines
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/brochure']">
            <span class='glyphicon glyphicon-education'></span> Brochures
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/author']">
            <span class='glyphicon glyphicon-education'></span> Authors
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/publicationHouse']">
            <span class='glyphicon glyphicon-education'></span> PublicationHouses
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/user']">
            <span class='glyphicon glyphicon-king'></span> User
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
